.card {
  @extend %rounded;
  @include flex($dir: column);
  cursor: pointer;
  box-shadow: 0 3px 10px rgba($black, .25);
  padding: 20px;
  color: $white;
  height: 100%;
  transition: .4s ease;
  &:hover {
    box-shadow: 0 3px 34px rgba($black, .45);
    transform: scale(1.05);
  }
  @each $theme, $color1, $color2 in $theme-colors {
    &--#{$theme} {
      background: radial-gradient($color1, $color2);
    }
  }

  &__header {
    @include flex($wrap: nowrap);
  }

  &__title {
    margin: 0 0 0 1rem;
  }

  footer {
    margin-top: auto;
    p {
      margin-bottom: 0;
    }
  }
}