.main-header {
  background: linear-gradient(to right, $macaroni-an-cheese, $wild-watermelon);
  color: $white;
  padding: 1rem 0;
  margin-bottom: 3rem;
  text-align: center;
  @include break('md') {
    text-align: left;
  }
  .title {
    background: url('https://ak.picdn.net/shutterstock/videos/800254/thumb/1.jpg') 10% 5% / auto no-repeat;
    background-clip: text;
    color: transparent;
  }
  .main-nav {
    text-align: center;
    @include break('md') {
      @include flex($just: space-between, $align: center);
    }
    &__link {
      display: inline-block;
      color: $white;
      padding: 5px 10px;
      &:hover {
        color: $macaroni-an-cheese;
      }
    }
  }
}