$wild-watermelon: #FF5F6D;
$macaroni-an-cheese: #FFC371;
$cupid: #fbc1cc;
$sweet-pink: #fa99b2;
$malibu: #76b2fe;
$melrose: #b69efe;
$turquoise-blue: #60efbc;
$viking: #58d5c9;
$bright-turquoise: #1fe4f5;
$dodger-blue: #3fbafe;
$persian-pink: #f588d8;
$biloba-flower: #c0a3e5;
$flax: #E8DF73;

$white: #fff;
$black: #000;

$ui-colors: (
  'default': $wild-watermelon,
  'warning': $macaroni-an-cheese,
  'info': $malibu,
  'success': $viking
);

$theme-colors: (
  'numbers' $cupid $sweet-pink,
  'greeting' $malibu $melrose,
  'conversation' $turquoise-blue $viking,
  'nouns' $bright-turquoise $dodger-blue,
  'adjectives' $persian-pink $biloba-flower,
  'verbs' $flax $macaroni-an-cheese
);

$font-primary: Poppins, 'Helvetica Neue', sans-serif;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);