* {
  box-sizing: border-box;
}

body {
  font: normal 500 16px/1.35 $font-primary;
}

a {
  text-decoration: none;
  color: $wild-watermelon;
  transition: color .4s ease;
  &:hover {
    color: $macaroni-an-cheese;
  }
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

section {
  margin-bottom: 2.5rem;
}